<header>
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <img src=<%= asset_path "logo.svg"%> alt="Logo" class="brand">
        </a>
        </div>  
    </nav>
</header>